page-home {
  ion-content {
    background-color: color($colors, primary) !important;
  }

  .menu-left {
    width: 60px;
    background-color: color($colors, darkprimary) !important;
    height: 100%;
    float: left;
  }

  .main {
    float: left;
    width: calc(100% - 60px);

    .ion-item {
      p,
      h2 {
        margin: 0;
      }
    }

    .wallet {
      padding-top: 50%;
    }
  }
}
