<ion-content no-padding>
    <div class="menu-left">
        <ion-list>
            <button ion-button icon-only clear item-start>
                <ion-icon name="home" color="lightprimary" large></ion-icon>
            </button>

            <button ion-button icon-only clear item-start>
                <ion-icon name="person-add" color="lightprimary" large></ion-icon>
            </button>

            <button ion-button icon-only clear item-start (click)="settings()">
                <ion-icon name="settings" color="lightprimary" large></ion-icon>
            </button>
        </ion-list>
    </div>

    <div class="main">
        <ion-list>
            <ion-item color="primary" no-lines>
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col text-end>
                            <p ion-text color="lightprimary" class="text-month">SALDO MÊS ANTERIOR</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-end>
                            <h2 ion-text *ngIf="currentWallet != null"  balance>{{processLastBalance() | currencyFormat}}</h2>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item color="primary" no-lines>
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col text-end>
                            <p ion-text color="lightprimary" class="text-month">CARTEIRA</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-end>
                            <h2 ion-text *ngIf="currentWallet != null" balance>{{currentWallet | walletBalance | currencyFormat}}</h2>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item color="primary" no-lines class="wallet">
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col text-end>
                            <p ion-text color="lightprimary" class="text-month" >SALDO</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-end>
                            <h2 ion-text *ngIf="currentWallet != null" balance>{{processCurrentBalance() | currencyFormat}}</h2>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>

    <ion-fab center bottom>
        <button ion-fab color="light">
            <ion-icon name="logo-usd"></ion-icon>
        </button>
        <ion-fab-list side="left">
            <button ion-fab color="danger" (click)="entry(false)">
                <ion-icon name="remove"></ion-icon>
            </button>
        </ion-fab-list>

        <ion-fab-list side="right">
            <button ion-fab color="success" (click)="entry(true)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
