page-finance-trending {
  ion-content{
    background-color: color($colors, primary) !important;
  }

  .item-inner {
    border-color: $darkborder;
    padding: 10px;
  }

  .text-month {
    text-transform: uppercase;
    font-weight: 100;
  }
}
