page-wallet-detail {
  ion-content{
    background-color: color($colors, primary) !important;
  }

  .item-inner {
    border-color: $darkborder;
    padding-top: 5px;
    padding-bottom: 5px;

    p,h2 {
      margin: 0 !important;
    }
  }

  ion-slide  {
    align-items: flex-start !important;
    overflow: auto;
  }
}
